.score-card {
    margin-top: 30px;
    width: 100%;
    height: 70px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 6px #dedede;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .score {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        line-height: 1.4;
        font-weight: bold;
        margin-left: 10px;
        
        span {
            color: #b6bacb;
        }
    }

    .separator {
        border-left: 0.5px solid #b6bacb;
        height: 70%;
      }
}