.trend-card {
    width: 100%;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 6px #dedede;
    display: flex;
    flex-direction: column;

    > .title {
        font-size: 16px;
        font-weight: bold;
        padding-top: 22px;
        padding-left: 20px;
    }

    > .content {
        display: flex;
        padding: 18px 20px;

        > .gradient-bar {
            width: 4px;
            min-height:100%;
            background-image: linear-gradient(#D53686, #F8A302);
            border-radius: 5px;
        }

        > .tags {
            flex-wrap: wrap;
            margin-left: 22px;
            width: 100%;
            height: 100%;

            > a > .tag {
                margin: 7px 10px 7px 3px;
            }
        }
    }

    .light-font {
        color: #7F8393
        ;
    }

    @media (max-width:450px) {
        box-shadow: none;
        border-radius: 0;
        margin-top: 0;
        background-color: transparent;
        > .title {
            padding-left: 0;
        }

        > .content {
            padding-left: 0;
            padding-right: 0;
        }
    }
}