.profile-card {
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  padding-bottom: 26px;

  @media (max-width: 450px) {
    box-shadow: none;
    border-radius: 0;
    margin-top: 0;
  }

  > .background {
    cursor: pointer;
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    @media (max-width: 450px) {
      border-radius: 0;
    }
    display: flex;
    justify-content: flex-end;

    > .change-background-button {
      padding: 10px;
    }
  }

  > .avatar-and-actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    > .avatar {
      cursor: pointer;
      z-index: 3;
      border: 2px solid white;
      border-radius: 15px;
      width: 75px;
      height: 75px;
      object-fit: cover;
      margin-left: 40px;
      margin-top: -39px;
      display: flex;
      justify-content: flex-end;

      > .change-avatar-button {
        padding: 5px;
      }
    }

    > .actions {
      margin-right: 20px;

      &.edit-save {
        width: 40px;
        > * {
          width: 100%;
          > svg {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }

  > .info {
    margin-top: 13px;
    margin-left: 40px;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 450px) {
      margin: 13px 40px 0 40px;
    }

    > .profile-card-header {
      > .title > .display-name {
        width: 100%;
      }
      > .title,
      .display-name > .input-container > input {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 10px;
        height: 20px;
        font-size: 19px;
        font-weight: bold;

        > .verified-icon {
          height: 80%;
        }
      }

      > .subtitle {
        margin-top: 3px;
        font-size: 11px;
        display: flex;
        justify-content: flex-start;
        gap: 5px;

        > span {
          display: flex;
          align-items: center;
          gap: 5px;
        }

        > span:not(:first-child):before {
          content: '·';
        }

        > .input-text-field > .input-container > input {
          font-size: 11px;

          &::placeholder {
            font-size: 11px;
            color: #b6bacb;
          }
        }
      }

      > .error {
        padding: 0 18px;
        width: fit-content;
        font-size: 14px;
        color: white;
        align-items: center;
        display: flex;
        background-color: #ff6262;
        border-radius: 20px;
        margin-top: 10px;
        height: 28px;
      }
    }

    > .description,
    .description > .input-container > textarea {
      font-size: 14px;
      line-height: 20px;
    }

    > .buttons {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;

      > .message {
        cursor: pointer;
        display: flex;
        align-items: center;
      }
    }
  }
}
