.round-button {
  cursor: pointer;
  height: fit-content;
  svg {
    border: 1px solid #e4e5eb;
    box-sizing: border-box;
    border-radius: 38px;
    padding: 4px;
    background: #ffffff;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 5%);
    color: #9598a8;

    &:hover {
      color: #545761;
      background: rgb(223, 223, 223);
      
      &.hover-red {
        color: white;
        background: red;
      }
    }
  }
}
