@import '../../styles/application';

.resource {
  z-index: 10;
  > .content {
    z-index: 3;
    width: 100%;
    max-width: 1100px;
    height: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 450px) {
      margin-top: 0;
      padding: 0;
    }

    @media (min-width: 450px) and (max-width: 800px) {
      > .main-column {
        gap: 15px;
        > .resource-footer {
          > * {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 50%;
          }
          > .one-column {
            display: none;
          }
        }
      }
    }

    @media screen and (max-width: 450px) {
      > .main-column {
        > .resource-footer {
          > :not(.one-column) {
            display: none;
          }
          .one-column {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }

    > .main-column {
      gap: 15px;
      width: 65%;
      height: 100%;

      > .main-resource-card {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 26px 34px 34px 34px;
        position: relative;

        > .info-card {
          display: flex;
          padding: 0;
          box-shadow: none;
        }

        > .resource-header {
          display: flex;
          width: 100%;
          height: fit-content;
          display: flex;
          flex-direction: column;
          gap: 8px;

          .type-and-actions {
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            > * {
              display: flex;
            }
            > .type {
              font-weight: bold;
            }
            > .actions {
              display: flex;
              gap: 20px;

              > * {
                display: flex;
                align-items: center;
                gap: 8px;
                > svg,
                * > svg {
                  width: 18px;
                  height: 18px;
                }
              }

              > *:not(.like-disabled) {
                cursor: pointer;
              }

              .liked {
                color: red;
              }

              > .like:hover {
                color: red;
              }

              .bookmarked {
                color: rgb(32, 193, 132);
              }

              > .bookmark:hover {
                color: rgb(32, 193, 132);
              }

              > .share:hover {
                color: $primary-color;
              }

              > .edit-save {
                width: 40px;
                > * {
                  width: 100%;
                }
              }
            }
          }

          .title {
            font-weight: bold;
            font-size: 26px;

            > .input-container {
              > input {
                font-weight: bold;
                font-size: 26px;
              }
            }
          }

          .tags {
            margin-top: 7px;
          }

          .tags > a > .tag {
            font-size: 10px;
            padding: 3px 10px;
            margin-right: 3px;
          }
        }

        > .image-container {
          position: relative;
          width: 100%;
          > .image {
            cursor: pointer;
            width: 100%;
            object-fit: cover;
            border-radius: 20px;
          }

          > .change-image-button {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 5;
            padding: 10px;
          }
        }

        > .description {
          font-size: 14px;
          line-height: 20px;
        }

        .bottom {
          display: flex;
          justify-content: flex-end;
          > div {
            width: 40px;
            > svg {
              width: 18px;
              height: 18px;
            }
          }
        }
      }

      > .resource-footer {
        display: none;
      }
    }

    > .side-column {
      width: 32%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      > :first-child:is(.button) {
        width: 100%;
        justify-content: center;
      }
    }

    @media screen and (max-width: 800px) {
      > .main-column {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        > .resource-footer {
          display: flex;
          gap: 15px;
        }
      }

      > .side-column {
        display: none;
        width: 325px;
        height: 100%;
      }
    }

    > .side-column > .extra-details-card,
    > .main-column > .resource-footer > * > .extra-details-card {
      width: 100%;
      height: fit-content;
      padding: 25px;
      display: flex;

      flex-direction: column;
      gap: 13px;
      flex-wrap: wrap;
      justify-content: center;

      > * {
        > label {
          margin-bottom: 2px;
        }
      }

      > .date {
        width: 100%;
        display: flex;
        flex-direction: column;
        > label {
          font-weight: bold;
          font-size: 14px;
        }
        > .fields {
          display: flex;
          :first-child.display-mode.not-editing {
            width: 60px;
          }
        }
      }
      > .detail {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
        > .title {
          font-weight: bold;
          font-size: 14px;
        }
        > .value {
          color: rgba(0, 0, 0, 0.5);
          height: 24px;
          width: 100%;
          line-height: 20px;
          font-weight: 500;
          font-size: 14px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &.date {
            display: flex;
            gap: 8px;
          }
        }
      }

      > .dropdown:not(:last-child) {
        margin-bottom: 2px;
      }
    }
    .resource-action-card {
      width: 100%;
      height: fit-content;
      padding: 25px;
      display: flex;
      gap: 10px;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: 1000px) {
        > .button,
        a {
          max-width: 80%;
        }
      }

      > .button,
      > a > .button {
        width: 100%;
        justify-content: center;
        padding: 11px;
        flex: 1;
        gap: 8px;
        height: 40px;

        > svg {
          width: 18px;
        }
      }

      > a {
        width: 100%;
      }
    }
  }
}
