.add-resources {
  width: 100%;

  > .content {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;

    > .card {
      padding: 22px 28px 28px;
      height: fit-content;

      > .collections-header {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 12px;

        > .searchbox {
          > .search-box {
            flex-direction: row-reverse;
            width: 100%;
            border: none;
            height: fit-content;
            > .search-text {
              text-align: right;
              margin-right: 8px;
              font-size: 14px;
            }

          }
          @media (max-width: 450px) {
          }
        }
      }

      > .collections {
        flex-wrap: wrap;
        width: 100%;
        height: 100%;

        > .collection-name {
          margin: 7px 10px 7px 3px;
        }

        > :not(.selected):hover {
          background-color: #00e096;
        }

        > .selected {
          background-color: #337AFF;
        }

        > .selected:hover {
          background-color: #f4f5f7;
          color: #b6bacb;
        }
      }
    }

    @media screen and (max-width: 800px) {
    }
  }

  > .footer {
    display: flex;
    justify-content: flex-end;
    padding: 30px 0 40px 0;
    gap: 10px;
  }
}
