.small-profile-card {
  width: 100%;
  max-width: 245px;
  display: flex;
  flex-direction: column;
  align-items: center;

  > .background {
    cursor: pointer;
    width: 100%;
    height: 60px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    @media (max-width: 450px) {
      border-radius: 0;
    }
  }

  > .avatar > img {
    z-index: 3;
    border: 2px solid white;
    border-radius: 15px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-top: -45px;
  }

  > .info {
    width: 100%;
    padding: 7px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 7px;

    @media (max-width: 450px) {
      margin: 13px 40px 0 40px;
    }

    > .profile-card-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      > .title {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15px;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }

      > .subtitle {
        width: 100%;
        margin-top: 3px;
        font-size: 13px;
        color: #7e7e7e;
        justify-content: flex-start;
        gap: 5px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
      }

      > .error {
        padding: 0 18px;
        width: fit-content;
        font-size: 14px;
        color: white;
        align-items: center;
        display: flex;
        background-color: #ff6262;
        border-radius: 20px;
        margin-top: 10px;
        height: 28px;
      }
    }

    > .description,
    .description > .input-container > textarea {
      font-size: 14px;
      line-height: 20px;
    }

    > .buttons {
      width: 100%;

      > * {
        width: 100%;
      }
    }

    > .overall-card {
      height: fit-content;

      > .data > span {
        font: 10px;
      }
    }
  }
}
