@import '../../../styles/application';

.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  > label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 8px;
  }

  > .input-container {
    height: 100%;
    width: 100%;
    background: #ffffff;
    border: none;
    box-shadow: 0 0 6px #dedede;
    border-radius: 7px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    resize: none;
    color: rgba(0, 0, 0, 0.8);
    outline: none;
    font-weight: 500;
    font-size: 14px;

    &.highlight {
      box-shadow: 0 0 0 2px $primary-color;
    }

    &.display-mode {
      padding: 0;
      background: none;
      box-shadow: none;

      > .icons {
        height: 24px;
        margin-left: 0;
        justify-content: start;
        > div > svg > g {
          fill: black;
        }
      }

      &:not(.not-editing) {
        > .icons > div > svg > g {
          fill: rgba(0, 0, 0, 0.5);
        }
      }
    }

    &.not-editing {
      color: black;

      > svg {
        display: none;
      }
    }

    &:not(.not-editing:not(:focus)) {
      color: rgba(0, 0, 0, 0.5);
    }

    > .dropdown-button {
      width: 100%;
      display: flex;
      border: none;
      background-color: transparent;
      align-items: center;
      padding: 12px 12px;
      line-height: 20px;
      resize: none;
      color: rgba(0, 0, 0, 0.8);
      outline: none;
      font-weight: 500;
      font-size: 14px;

      &:focus {
        color: rgba(0, 0, 0, 0.87);
      }

      &::placeholder {
        visibility: visible;
        font-weight: 500;
        font-size: 15px;
        color: #c0c4d6;
        opacity: 1;
      }
      &::-ms-.search-field-placeholder {
        font-weight: 500;
        font-size: 15px;
        color: #c0c4d6;
      }
      &:-ms-.search-field-placeholder {
        font-weight: 500;
        font-size: 15px;
        color: #c0c4d6;
      }

      &.display-mode {
        padding: 0;
        height: 24px;
        color: black;
        &:not(.not-editing) {
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }

    > .icons {
      width: 100%;
      height: 100%;
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        height: 20px;
        display: flex;
        align-items: center;
        gap: 3px;
        > svg {
          width: fit-content;
          height: 100%;
          > g {
            fill: rgba(0, 0, 0, 0.8);
          }
        }
      }
    }

    > svg {
      display: block;
      margin-right: 6px;
      color: #b6bacb;
    }
  }

  > .dropdown-content {
    position: absolute;
    z-index: 3;
    visibility: hidden;
    left: 50%;
    background-color: white;
    box-shadow: 0 0 6px #dedede;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    padding: 9px 0;
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
    color: rgba(0, 0, 0, 0.87);

    > .option {
      cursor: pointer;
      padding: 9px 15px;
      font-size: 14px;
      &:hover,
      &:focus {
        background-color: #f5f5f5;
      }
      &.icon-and-text {
        display: flex;
        align-items: center;
        gap: 10px;
        :first-child {
          height: 20px;
          display: flex;
          align-items: center;
          gap: 3px;
          > svg {
            width: fit-content;
            height: 100%;
          }
        }
        > span {
          white-space: nowrap;
        }
      }
    }
  }
}

.dropdown.disabled {
  > label {
    color: #c6c6c6;
  }
  > .input-container {
    border: #e9e9e97d 1px solid;
    background-color: #e8e8e8;
    box-shadow: 0 0 2px #dedede;
    pointer-events: none;

    > .dropdown-button {
      &::placeholder {
        visibility: hidden;
      }
    }
  }
}
