.tertiary-button {
    color: #a3a6b5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    font-size: 12px;
    height: 30px;
    padding: 8px;
    margin: 0 4px;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
}