@import '../../../styles/application';

.collection-card {
  position: relative;
  width: 100%;
  height: 88px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 6px #dedede;
  display: flex;
  flex-direction: column;
  
  > .actions {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    pointer-events: none;
    padding: 5px;

    > * {
      padding: 1px 3px;
      background-color: #b6bacb;
      border-radius: 6px;
      font-size: 13px;
      color: white;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 4px;
      > svg,
      * > svg {
        width: 18px;
        height: 18px;
      }
    }

    > :not(.disabled) {
      pointer-events: auto;
    }

    :last-child {
      padding-right: 2px;
    }

    .following {
      background-color: $primary-color;
      color: white;
    }

    > .follow:hover:not(.disabled) {
      background-color: $primary-color;
    }

    .bookmarked {
      background-color: rgb(32, 193, 132);
      color: white;
    }

    > .bookmark:hover {
      background-color: rgb(32, 193, 132);
    }
  }
  > a {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

    > .title {
      margin-top: 16px;
      max-width: 100%;
      color: white;
      background-color: #b6bacb;
      border-radius: 35px;
      padding: 5px 12px;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      display: inline-block;
      > abbr {
        text-decoration: none;
      }
    }
  }
}
