.profile {
  > .content {
    width: 100%;
    max-width: 1100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    @media screen and (max-width: 450px) {
      padding: 0;

      > .main-column {
        > .list-card {
          padding: 15px 40px;
        }

        > :not(:last-child) {
          margin-bottom: 0;
        }
      }
    }

    > .main-column {
      width: 65%;
      height: 100%;

      > .collections {
        display: none;
      }

      > :not(:last-child) {
        margin-bottom: 16px;
      }

      > :first-child {
        @media screen and (max-width: 450px) {
          margin-bottom: 0;
        }
      }
    }

    > .side-column {
      width: 32%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    
    @media screen and (max-width: 800px) {
      > .main-column {
        width: 100%;
        height: 100%;

        > .collections {
          display: flex;
        }
      }

      > .side-column {
        display: none;
        width: 325px;
        height: 100%;
      }
    }
  }
}
