@import '../../../styles/application';

.primary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  font-weight: bold;
  font-size: 12px;
  height: 30px;
  padding: 12px 18px;
  width: fit-content;
  cursor: pointer;
  color: white;
  background-color: $primary-color;
  white-space: nowrap;

  &.green {
    background-color: #00e096;
  }

  &.red {
    background-color: red;
  }

  &:hover {
    //background-color: #e37511;
    background-color: #337aff;

    &.hover-orange {
      background-color: $primary-color;
    }

    &.hover-green {
      background-color: #00e096;
    }

    &.hover-red {
      background-color: red;
    }
  }

  &.disabled {
    cursor: default;
    user-select: none;
    background-color: #e8e8e8;
  }

  a {
    color: white;
    text-decoration: none;
  }
}
