.new-password-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #f4f5f7;

  > .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    gap: 20px;
    width: 100%;
    max-width: 410px;
    height: 100%;
    margin-bottom: 130px;

    @media (max-width: 650px) {
      padding: 0 25px;
    }

    @media (max-height: 750px) {
      margin-bottom: 5%;
    }

    > .card {
      height: 100%;
      width: 100%;
      max-height: 305px;
      background-color: #b6bacb;

      > .content {
        flex-direction: column;
        justify-content: space-between;
        display: flex;
        padding: 42px 65px;
        width: 100%;
        height: 100%;

        @media (max-width: 450px) {
          padding: 38px calc(25px + 5%);
        }

        > .title {
          color: white;
          font-size: 28px;
        }
        > form {
          position: relative;
          display: inline-flex;
          flex-direction: column;
          justify-content: flex-start;
          border-color: transparent;
          flex-wrap: wrap;
          gap: 14px;

          > input {
            width: 100%;
            height: 46px;
            border-style: solid;
            border-width: 0.5px;
            border-radius: 45px;
            border: none;

            &:focus,
            &:not(:focus) {
              outline: none;
              padding: 0 25px;
              font-weight: 500;
              font-size: 17px;
            }

            &:focus {
              box-shadow: 0 0 5px white;
              border: 0.5px solid #b6bacb;
              color: #9598a7;
            }

            &:not(:focus) {
              color: #b6bacb;
            }

            &::placeholder {
              font-weight: 500;
              font-size: 17px;
              color: #b6bacb;
              opacity: 1;
            }
            &::-ms-input-placeholder {
              font-weight: 500;
              font-size: 17px;
              color: #b6bacb;
            }
            &:-ms-input-placeholder {
              font-weight: 500;
              font-size: 17px;
              color: #b6bacb;
            }
          }

          > .error {
            position: absolute;
            bottom: -46px;
            padding: 0 18px;
            width: fit-content;
            font-size: 14px;
            color: white;
            align-items: center;
            display: flex;
            background-color: #ff6262;
            border-radius: 20px;
            height: 35px;
          }
        }
        > .bottom {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }
  }
}
