$base-light-green-color: #00e096;
$base-light-red-color: #ff6262;
$base-moodle-color: #f88012;
$base-electric-blue-color: #337aff;
$base-black-color: #000;
$base-grey-color: #a3a6b5;
$base-white-color: #fff;

$primary-color: $base-moodle-color;
$secondary-color: $base-white-color;
$tertiary-color: $base-grey-color;

$primary-hover-color: $base-electric-blue-color;

$error-color: $base-light-red-color;
$warning-color: $base-moodle-color;
$info-color: $base-electric-blue-color;
$success-color: $base-light-green-color;

$primary-text-color: $base-black-color;