.add-resources-card {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;

  &:not(.no-card) {
    padding: 22px 28px 28px;
  }

  > .resources-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 12px;
    gap: 10px;

    > .title {
      white-space: nowrap;
    }

    > :nth-child(2) {
      max-width: 250px;
    }

    > .searchbox {
      height: 35px;
      width: 100%;
    }

    @media screen and (max-width: 450px) {
      flex-direction: column;
      align-items: flex-start;

      > .searchbox {
        max-width: 100%;
      }
    }
  }

  > .resources-container {
    .resources {
      display: grid;
      flex-wrap: wrap;
      width: 100%;
      height: fit-content;
      gap: 15px;
      padding: 3px;
      grid-template-columns: repeat(auto-fit, minmax(140px, max-content));
      justify-content: center;

      > .resource-card {
        max-width: none;
      }

      > :not(.selected):hover {
        box-shadow: 0 0 0 3px #00e09690;
      }

      > .selected {
        box-shadow: 0 0 0 3px #337aff90;
      }

      > .selected:hover {
        box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.55);
      }
    }
  }
}
