@import '../../../styles/application';

.upload-resource {
  width: 100%;

  > .content {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;

    > .main-column {
      width: 60%;
      height: fit-content;
      display: flex;
      flex-direction: column;

      > .small-screen-details {
        display: none;
      }

      > .card-title {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 8px;
      }

      > .card {
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;

        > .main-container {
          height: 100%;
          width: 100%;
          min-height: 200px;

          > .uploader {
            width: 100%;
            height: 100%;
            border: 4px dashed #d1d4e0;
            border-radius: 15px;
            cursor: pointer;

            &:hover,
            &.hover {
              border: 4px dashed #337aff;
              color: #337aff;
              background-color: #337cf93f;

              > .upload {
                > span {
                  color: #337aff;
                }
                > svg > path {
                  fill: #337aff;
                }
              }
            }

            > .upload {
              height: 100%;
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              flex-wrap: wrap;
              gap: 10px;

              &.image > svg {
                height: 65px;
              }

              > span {
                font-weight: bold;
                font-size: 15px;
                color: $primary-color;
                text-align: center;
                padding: 0 18px;
              }
            }
          }
          > .image-container {
            display: flex;
            justify-content: flex-end;
            border-radius: 15px;
            height: 100%;
            width: 100%;

            > .round-button {
              margin: 12px;
            }
          }
        }

        > .bottom-container {
          width: 100%;
          height: fit-content;
          display: flex;
          gap: 15px;

          > .subcontainer,
          .dropdown > input {
            width: 100%;
            height: fit-content;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.0509804);
            border: 1px solid #e4e5eb;
            border-radius: 10px;
          }

          > .link {
            height: 100%;
            height: 46px;
            > .input-container {
              padding: 8px 0;
              height: 100%;
              background-color: transparent;
              box-shadow: none;
              > :last-child:not(input) {
                margin-right: 10px;
              }
            }
          }

          > .uploaded-name {
            display: flex;
            height: 46px;
            padding-right: 10px;
            align-items: center;
            font-weight: 500;
            font-size: 15px;
            color: #b6bacb;

            &.file {
              width: calc(100% - 146px);
            }

            &.link {
              width: 100%;
            }
            > .content-icon {
              display: flex;
              align-items: center;
              margin: 0 10px 0 16px;
              color: #b6bacb;
            }
            > abbr {
              margin-right: 5px;
            }
            > .round-button {
              display: flex;
              margin-left: auto;
            }
          }

          > .dropdown {
            width: 130px;
            > .dropdown-content {
              width: auto;
            }
          }
        }
      }
    }

    > .side-column {
      width: 37%;
      > div {
        width: 100%;
        height: 100%;
        padding-bottom: 2px;
        display: inline-flex;
        flex-direction: column;
        gap: 17px;
        > .input-text-field:nth-child(2) {
          height: 100%;
          .textarea-container {
            height: 100%;
          }
        }
      }
    }

    @media screen and (max-width: 800px) {
      > .main-column {
        width: 100%;
        height: 100%;
        height: fit-content;

        > .small-screen-details {
          display: block;
          padding: 30px 0 0 0;
          > div {
            gap: 20px;
            display: flex;
            flex-direction: column;
          }
        }
      }

      > .side-column {
        display: none;
        width: 325px;
        height: 100%;
      }
    }
  }
  > .footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 30px 0 40px 0;
  }
}

.delete-message > .modal {
  > .content {
    font-size: 14px;
    padding: 10px 0;
  }
}
