.resource-card {
  position: relative;

  > .actions {
    position: absolute;
    pointer-events: none;
    right: 12px;
    top: 10px;
    z-index: 1;
    display: flex;
    gap: 10px;
    font-size: 13px;
    color: #b6bacb;

    > * {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 4px;
      > svg,
      * > svg {
        width: 18px;
        height: 18px;
      }
    }

    > :not(.disabled) {
      pointer-events: auto;
    }

    > .liked {
      color: red;
    }

    > .like:hover:not(.disabled) {
      color: red;
    }

    > .bookmarked {
      color: rgb(32, 193, 132);
    }

    > .bookmark:hover:not(.disabled) {
      color: rgb(32, 193, 132);
    }
  }

  > a,
  > .content-container {
    width: 100%;

    > .content {
      position: relative;
      cursor: pointer;
      width: inherit;
      height: inherit;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 14px;

      > .image {
        width: 30%;
        max-width: 100px;
        height: 100%;
        object-fit: cover;
        border-radius: 9px;
      }

      > .resource-card-header {
        width: 100%;
        overflow: hidden;
        flex-direction: column;
        display: flex;
        gap: 10px;
        height: 100%;

        > .type-and-actions {
          display: flex;
          justify-content: space-between;

          > .type {
            display: flex;
            align-items: center;
            font-size: 11px;
            font-weight: bold;
          }
        }

        > .title {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-weight: bold;
          font-size: 14px;
        }
      }
    }
  }

  > .round-button {
    position: absolute;
    background: white;
    padding: 2px 2px 2px 6px;
    margin: 7px 7px 3px;
    right: 0;
    bottom: 0px;
    z-index: 2;
  }

  > .tags {
    position: absolute;
    bottom: 10px;
    margin-left: calc(min(106px, 30%) + 18px);
    z-index: 2;

    &:not(.editing) {
      width: calc(100% - 138px);
    }

    &.editing {
      width: calc(100% - 165px);
    }

    &.disabled {
      pointer-events: none;
    }
    > a > .tag {
      font-size: 10px;
      padding: 3px 10px;
      margin-right: 3px;
    }
  }

  &.horizontal {
    > a > .content,
    > .content-container > .content {
      height: 88px;
      padding: 10px;
    }
  }

  &.vertical {
    max-width: 180px;
    height: 120px;

    > .actions {
      top: 44px;
    }

    > a,
    > .content-container {
      width: 100%;
      height: 100%;
    }

    > a > .content,
    > .content-container > .content {
      width: 100%;
      height: 100%;
      flex-direction: column;
      gap: 7px;

      > .image {
        width: 100%;
        max-width: 100%;
        height: 40px;
        border-radius: 16px 16px 0 0;
      }

      > .resource-card-header {
        padding: 0 10px;
        gap: 7px;
      }
    }

    > .tags {
      margin-left: 10px;
      width: calc(100% - 20px);
    }
  }
}
