@import '../../../styles/utils/colors';

.footer {
  padding: 20px 100px;
  display: flex;
  justify-content: center;
  top: 0;
  height: 60px;
  width: 100%;
  font-size: 0.7rem;

  @media screen and (max-width: 675px) {
    padding: 0 25px;
    > .content {
      gap: 15px;
    }
  }

  > .content {
    height: 100%;
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;

    .center {
      display: flex;
      justify-content: center;
      width: 100%;
      > a {
        color: #717171;
        font-size: 14px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
