@import '../../../styles/application';

.login-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #f4f5f7;

  > .separator {
    height: 68px;

    @media (max-height: 600px) {
      height: 5%;
      height: calc(5% - 10px);
    }
  }

  > .content {
    display: flex;
    margin-left: calc((100vw - 525px) / 2);
    height: 100%;
    margin-bottom: 120px;
    justify-content: center;
    align-items: center;

    @media (max-width: 650px) {
      justify-content: center;
      margin: 0 25px;
    }
    @media (max-height: 750px) {
      margin-bottom: 5%;
    }

    > .card {
      height: 100%;
    }
    > .card:first-child {
      width: 525px;
      max-height: 340px;

      background-color: white;
      @media (max-width: 900px) {
        max-width: 525px;
        width: 100%;
      }
      > .content {
        flex-direction: column;
        justify-content: space-between;
        display: flex;
        padding: 53px 65px;
        width: 100%;
        height: 100%;

        @media (max-width: 450px) {
          padding: 53px calc(25px + 5%);
        }

        > .title {
          color: #b6bacb;
          font-size: 28px;
        }

        > form {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          > input {
            height: 46px;
            border-style: solid;
            border-width: 0.5px;
            border-radius: 45px;

            &:focus {
              border: 0 solid white;
            }

            &:focus,
            &:not(:focus) {
              outline: none;
              padding: 0 25px;
              font-weight: 500;
              font-size: 17px;
              color: #9598a7;
            }

            &:not(:focus) {
              color: #b6bacb;
            }

            &::placeholder {
              font-weight: 500;
              font-size: 17px;
              color: #b6bacb;
              opacity: 1;
            }
            &::-ms-input-placeholder {
              font-weight: 500;
              font-size: 17px;
              color: #b6bacb;
            }
            &:-ms-input-placeholder {
              font-weight: 500;
              font-size: 17px;
              color: #b6bacb;
            }
          }
          > .email {
            border-color: $primary-color;
            margin-bottom: 14px;
            max-width: 335px;
            &:focus {
              border: 0 solid white;
              box-shadow: 0 0 5px $primary-color;
            }
          }
          > .password {
            border-color: #b6bacb;
            max-width: 250px;
            &:focus {
              border: 0 solid white;
              box-shadow: 0 0 5px #b6bacb;
            }
          }
        }

        > .error {
          padding: 0 18px;
          width: fit-content;
          font-size: 14px;
          color: white;
          align-items: center;
          display: flex;
          background-color: #ff000095;
          border-radius: 20px;
          height: 35px;
        }

        > .bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          > .left {
            display: flex;
            gap: 10px;
            > .tertiary-button {
              @media (max-width: 450px) {
                display: none;
              }
            }
          }
          > .right {
            display: flex;
            > .icon {
              cursor: pointer;
              height: 33px;
              width: 33px;
              padding: 3px;
              border-radius: 50px;
              background-color: #fff;
              box-shadow: 0 0 6px #dedede;
              display: flex;
              justify-content: center;
              align-items: center;
              > img {
                height: 55%;
              }
            }

            > .icon:first-child {
              margin-right: 10px;
            }
          }
        }
      }
    }
    > .card:last-child {
      max-height: 400px;
      cursor: pointer;
      margin-left: 30px;
      flex: 1;
      min-width: 185px;
      border-radius: 16px 0 0 16px;
      background-color: #b6bacb;
      padding-left: 30px;

      @media (max-width: 650px) {
        display: none;
      }

      > a {
        text-decoration: none;
        height: 100%;
        width: 100%;
        font-size: 28px;
        justify-content: center;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        color: white;
        > svg {
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          margin-top: 20px;
          width: 43px;
        }
      }
    }
  }

  .view {
    z-index: 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 200px 100px 50px 100px;
    height: 100%;
    background-color: #f4f5f7;
    background-size: cover;
    overflow-x: hidden;
    bottom: 0;

    @media (max-width: 450px) {
      padding: 200px 0 0 0;
    }

    @media screen and (max-width: 675px) and (min-width: 450px) {
      padding: 200px 25px;
    }
  }
}
