@import '../styles/utils/colors';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

body {
  background: white;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.main-page-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: None;

  &.current-intent-mouse,
  &.current-intent-touch,
  &.current-input-mouse,
  &.current-input-mouse {
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
      outline: none;
    }
  }

  > .policies-snackbar {
    > .content {
      display: inline;
      > a {
        color: $base-moodle-color;
        margin: 0 5px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.scroll {
  overflow: scroll;
  white-space: nowrap;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
}

.scroll::-webkit-scrollbar {
  display: none;
}

abbr {
  text-decoration: none;
}

[hidden] {
  display: none !important;
}

.font-disabled {
  color: #e8e8e8;
  pointer-events: none;
}
