@import '../../styles/application';

.collection {
  > .content {
    width: 100%;
    max-width: 1100px;
    height: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: 450px) {
      margin-top: 0;
      padding: 0;

      > .main-collection-card {
        > :last-child {
          margin: 0 20px;
        }
      }
    }

    > .main-collection-card {
      display: flex;
      gap: 20px;

      @media (min-width: 450px) {
        > .image {
          border-radius: 16px 16px 0 0;
        }

        > :last-child {
          margin-bottom: 20px;
        }

        > :not(.image) {
          padding: 0 20px 0 20px;
        }
      }

      position: inherit;
      flex-direction: column;
      align-items: flex-start;

      > .image {
        cursor: pointer;
        height: 100px;
        width: 100%;
        position: inherit;

        > .change-image-button {
          z-index: 5;
          display: flex;
          justify-content: flex-end;
          padding: 15px 20px;
        }
      }

      > .info {
        padding: 0 20px 0 20px;
      }

      > .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        > .label {
          font-size: 19px;
          font-weight: bold;
          display: flex;
          justify-content: space-between;
          align-items: center;

          > .actions {
            display: flex;
            gap: 12px;
            width: fit-content;
            align-items: center;

            > * {
              cursor: pointer;
              display: flex;
              align-items: center;

              > svg {
                width: 28px;
                height: 28px;
              }
            }

            &.edit-save {
              > :last-child {
                width: 40px;
                > svg {
                  width: 18px;
                  height: 18px;
                }
              }
            }

            > .bookmark {
              color: #b6bacb;
            }

            > .bookmarked {
              color: rgb(32, 193, 132);
            }

            > .bookmark:hover {
              color: rgb(32, 193, 132);
            }

            > .share:hover {
              color: $primary-color;
            }
          }
        }

        .title {
          font-weight: bold;
          font-size: 26px;

          > .input-container {
            > input {
              font-weight: bold;
              font-size: 26px;
            }
          }
        }

        > .description {
          font-size: 14px;
          line-height: 20px;
        }

        > .actions {
          display: flex;
          margin-top: 8px;
          width: 100%;
          align-items: center;
          justify-content: space-between;

          > .left {
            display: flex;
            align-items: center;
            gap: 10px;

            > .follow-and-followers {
              display: flex;
              align-items: center;
              gap: 5px;
              > :first-child {
                width: 84px;
              }
            }
            .followers {
              display: flex;
              align-items: center;
              gap: 2px;
              font-size: 15px;

              > .following {
                color: $primary-color;
              }

              > .follow:hover {
                color: $primary-color;
              }
            }
          }

          .right > div {
            width: 40px;
            > svg {
              width: 18px;
              height: 18px;
            }
          }
        }
      }
    }

    > .main-content {
      display: flex;
      gap: 20px;

      @media (min-width: 450px) and (max-width: 800px) {
        > .main-column {
          gap: 15px;
          > .collection-footer {
            display: flex;
            gap: 15px;

            > * {
              display: flex;
              flex-direction: column;
              gap: 15px;
              width: 50%;
            }
            > .one-column {
              display: none;
            }
          }
        }
      }

      @media screen and (max-width: 450px) {
        > .main-column {
          > .list-card {
            padding: 0 15px;
          }

          > .collection-footer {
            > :not(.one-column) {
              display: none;
            }
            .one-column {
              display: flex;
              flex-direction: column;
            }
          }
        }
      }

      > .main-column {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 65%;
        height: 100%;

        &.full-width {
          width: 100%;
        }

        > .collection-footer {
          display: none;
        }
      }

      > .side-column {
        width: 32%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        > :first-child:is(.button) {
          width: 100%;
          justify-content: center;
        }
      }

      @media screen and (max-width: 800px) {
        > .main-column {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;

          > .collection-footer {
            display: flex;
          }
        }

        > .side-column {
          display: none;
          width: 325px;
          height: 100%;
        }
      }

      .extra-details-card {
        width: 100%;
        height: fit-content;
        padding: 25px;
        display: flex;
        gap: 13px;
        flex-wrap: wrap;
        justify-content: center;

        > * {
          > label {
            margin-bottom: 2px;
          }
        }

        > .date {
          width: 100%;
          display: flex;
          flex-direction: column;
          > label {
            font-weight: bold;
            font-size: 14px;
          }
          > .fields {
            display: flex;
            :first-child.display-mode.not-editing {
              width: 60px;
            }
          }
        }

        > .button {
          max-width: 160px;
          width: 100%;
          margin-top: 10px;
        }
      }
    }

    .collection-actions-card {
      width: 100%;
      height: fit-content;
      padding: 25px;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      justify-content: center;

      > .button {
        max-width: 160px;
        justify-content: center;
        padding: 11px;
        flex: 1;
      }
    }
  }
}
