@import '../../../styles/application';

.upload-resource {
  width: 100%;

  > .title {
    font-size: 22px;
    font-weight: bold;
    padding: 30px 0 20px 0;
  }

  > .content {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;

    > .main-column {
      width: 60%;
      height: fit-content;
      display: flex;
      flex-direction: column;

      > .small-screen-details {
        display: none;
      }

      > .card-title {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 8px;
      }

      > .card {
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;

        > .main-container {
          height: 100%;
          width: 100%;
          min-height: 200px;

          > .uploader {
            width: 100%;
            height: 100%;
            border: 4px dashed #d1d4e0;
            border-radius: 15px;
            cursor: pointer;

            &:hover {
              border: 4px dashed #337aff;
              color: #337aff;
              background-color: #337cf93f;

              > .upload {
                > span {
                  color: #337aff;
                }
                > svg > path {
                  fill: #337aff;
                }
              }
            }

            > .upload {
              height: 100%;
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              flex-wrap: wrap;
              gap: 10px;

              &.image > svg {
                height: 65px;
              }

              > span {
                font-weight: bold;
                font-size: 15px;
                color: $primary-color;
                text-align: center;
                padding: 0 18px;
              }
            }
          }
          > .image-container {
            display: flex;
            justify-content: flex-end;
            border-radius: 15px;
            height: 100%;
            width: 100%;

            > .delete-image {
              cursor: pointer;
              height: fit-content;
              svg {
                margin: 12px;
                border: 1px solid #e4e5eb;
                box-sizing: border-box;
                border-radius: 38px;
                padding: 4px;
                background: #ffffff;
                box-shadow: 0px 0px 5px rgb(0 0 0 / 5%);
                color: #9598a8;

                &:hover {
                  color: #545761;
                  background: rgb(223, 223, 223);
                }
              }
            }
          }
        }
      }
    }

    > .side-column {
      width: 37%;
      > div {
        width: 100%;
        height: 100%;
        padding-bottom: 2px;
        display: inline-flex;
        flex-direction: column;
        gap: 17px;
        > .input-text-field:nth-child(2) {
          height: 100%;
          .textarea-container {
            height: 100%;
          }
        }
      }
    }

    @media screen and (max-width: 800px) {
      > .main-column {
        width: 100%;
        height: 100%;
        height: fit-content;

        > .small-screen-details {
          display: block;
          padding: 30px 0 0 0;
          > div {
            gap: 20px;
            display: flex;
            flex-direction: column;
          }
        }
      }

      > .side-column {
        display: none;
        width: 325px;
        height: 100%;
      }
    }
  }
  > .footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 30px 0 40px 0;
  }
}
