@import '../../../styles/application';

.card.snackbar {
  min-height: 40px;
  color: #fff;
  font-size: 0.875rem;
  font-weight: bold;
  background-color: #7b7b7b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 6px 6px 14px;
  margin: 0 20px;
  border-radius: 4px;
  gap: 10px;
  position: fixed;
  bottom: 20px;
  z-index: 5;
  width: fit-content;

  > * {
    display: flex;
  }

  > .close-button {
    cursor: pointer;
    > span {
      padding: 0 10px 0 0;
    }
  }

  &.type-success {
    background-color: $success-color;
  }

  &.type-error {
    background-color: $error-color;
  }

  &.type-warning {
    background-color: $warning-color;
  }

  &.type-info {
    background-color: $info-color;
  }

  &.state-opening {
    animation: fadeIn 0.5s forwards;
    text-align: center;
  }
  
    @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity: 1;}
    }

  &.state-closing {
    animation: fadeOut 0.2s forwards;
    text-align: center;
  }

  @keyframes fadeOut {
      from {opacity: 1;}
      to {opacity: 0;}
  }
}
