.activation-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #f4f5f7;

  > .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    gap: 20px;
    width: 100%;
    max-width: 410px;
    height: 100%;
    margin-bottom: 130px;

    @media (max-width: 650px) {
      padding: 0 25px;
    }

    @media (max-height: 750px) {
      margin-bottom: 5%;
    }

    > .card {
      height: fit-content;
      width: fit-content;
      background-color: #00E096;

      > .content {
        flex-direction: column;
        justify-content: space-between;
        display: flex;
        padding: 42px 65px;
        width: fit-content;
        height: 100%;
        gap: 20px;

        @media (max-width: 450px) {
          padding: 38px calc(25px + 5%);
        }
        
        > .title {
          color: white;
          font-size: 28px;
          width: fit-content;
        }
        > form {
          display: inline-flex;
          flex-direction: column;
          justify-content: flex-start;
          border-color: transparent;
          flex-wrap: wrap;
          gap: 14px;
            
          > input {
            width: 100%;
            height: 46px;
            border-style: solid;
            border-width: 0.5px;
            border-radius: 45px;
            border:none;

            &:focus, &:not(:focus) {
              outline: none;
              padding: 0 25px;
              font-weight: 500;
              font-size: 17px;
            }

            &:focus {
              box-shadow: 0 0 5px white;
              border: 0.5px solid #B6BACB;
              color: #9598a7;
            }

            &:not(:focus) {
              color: #B6BACB;
            }

            &::placeholder {
              font-weight: 500;
              font-size: 17px;
              color: #B6BACB;
              opacity: 1;
            }
            &::-ms-input-placeholder {
              font-weight: 500;
              font-size: 17px;
              color: #B6BACB;
            }
            &:-ms-input-placeholder {
              font-weight: 500;
              font-size: 17px;
              color: #B6BACB;
            }
          }
        }
        > .bottom {
          display: flex;
          justify-content: center;
          align-items: center;    
        }
      }
    }
  }
}
