.browser {
  > .content {
    margin-top: 50px;
    max-width: 1100px;
    height: 100%;
    display: flex;

    > .main-column {
      width: calc(100% - 190px);
      height: 100%;
      margin-left: 190px;
      > .filter-and-sort {
        display: none;
      }

      > :not(:last-child) {
        margin-bottom: 30px;
      }

      > .list-card {
        .title {
          .card-header {
            display: flex;
            align-items: center;
            .title {
              font-size: 24px;
              margin-right: 16px;
            }
            .secondary-button {
              height: 26px;
              padding: 10px;
              border-radius: 15px;
              border: 1px solid #b6bacb;
              color: #b6bacb;
            }
          }
        }
      }

      > .subjects:not(.see-all) {
        max-height: 265px;
        overflow: hidden;
      }

      > .collections:not(.see-all) {
        max-height: 245px;
        overflow: hidden;
      }

      > .resources:not(.see-all) {
        max-height: 244px;
        overflow: hidden;
      }

      > .people:not(.see-all) {
        max-height: 594px;
        overflow: hidden;
      }

      > .load-more {
        display: flex;
        justify-content: center;
      }
    }

    > .side-column {
      position: fixed;
      width: 165px;
      height: 100%;

      > .filter-card {
        margin-bottom: 15px;
      }
    }

    @media screen and (max-width: 800px) {
      > .main-column {
        width: 100%;
        height: 100%;
        margin-left: 0;

        > .filter-and-sort {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }
      }

      > .side-column {
        display: none;
        width: 325px;
        height: 100%;
        background-color: yellow;
      }
    }
  }

  @media (min-width: 450px) and (max-width: 1000px) {
    .collections > .content > .collection-card {
      font-size: 15px;
    }
  }

  @media screen and (max-width: 450px) {
    .search > .content {
      margin: 25px;
      .collections > .content > .collection-card {
        font-size: 15px;
        width: 100%;
      }
    }
  }
}
